/*CSS adapted from https://github.com/kevin-powell/shoes*/

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Noto Sans JP',
    sans-serif;
    line-height: 1.6;
}

img{
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p{
    margin: 0;
    color: #444;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}
nav .name{
    margin-top: 22px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #eeee;
}
nav .name:hover{
    color: #eeee;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #006152;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 1rem;
    margin-top: 40px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    color: #eeee;
}
nav a:hover {
    color: #CBD03A;
}

strong {
    font-weight: bolder;
}
/*
  Extra small devices (phones, 600px and down)
*/
@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }
    nav li {
        padding: 0.5rem 0;
    }
}

/* code for the welcome div */
.welcome{
    font-size: 32px;
}
.welcome a{
    text-decoration: none;
    font-weight: bold;
    color: #eeee;
    text-transform: capitalize;
    font-size: 23px;
    margin-bottom: 6rem;
}
.welcome a:hover a:focus{
    cursor: pointer;
}
.welcome a:hover{
    color: #CBD03A;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #eeee;
}

.container{
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.split{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.split> * {
    flex-basis: 30%;
    min-width: 15em;
}


.spacing > * + *{
    margin-top: 2rem
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: .5em 1.25em;
    font-weight: 700;
    text-transform: uppercase;
    background:#DF8234;
    border-radius: .25em;
    transition:
            transform 250ms ease-in-out,
            opacity 250ms linear;
}

.btn:hover,
.btn:focus{
    transform: scale(1.1);
    opacity: .9;
}

.primary-title{
    font-size: 4rem;
    font-size: clamp(3rem, 5vw + 1rem,4.5rem);
    line-height: 1;
    text-transform: uppercase;
}
.section-title{
    text-align: center;
    font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
    line-height: 1;
    color: #17353d;
    padding-bottom: 5rem;
}
section{
    padding: 6em 0;
}
.benefits{
    background: #eeee;
}

.hero{
    color: #444;
    text-align: center;
    padding: 15em 0;
    background-image: linear-gradient(to bottom, #eeee, #006152);
    background-blend-mode: inherit;
    background-attachment: fixed;
}

.featured__item {
    display: block;
    gap: 1em;
    transform: scale(0.95);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
}

span{
    display: block;
    font-weight: 700;
    font-size: 2.5rem;
}

.featured__item:hover,
.featured__item:focus{
    transform: scale(1);
}

/*to revisit*/
.featured__item::after{
    content: '';
    position: absolute;
    top: 2%;
    left: 5%;
    padding: 85% 85% 0 0;
    background: rgba(0, 97, 82, 0.7);
    border-radius: 50%;
    z-index: -1;
}

#health {
    margin: 5rem auto;
    border-collapse: collapse;
    width: 100%;
}
#health td, #health th {
    border: 1px solid #ddd;
    padding: 8px;
}
#health tr:hover {background-color: #ddd;}
#health th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(0, 97, 82, 0.7);
    color: black;
}