<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Cancellation</title>
    <link th:href="@{/css/style-other.css}" rel="stylesheet" />
</head>
<body>
    <p style="font-size: 2.0rem;text-align: center"><b>Are you sure you want to cancel this appointment?</b></p>

    <div style="text-align: center">
        <a style="font-size: 1.5rem; color: #CBD03A" th:href="@{/users/appointmentCancellation}"><b>Yes, cancel please</b></a>
        <br>
        <br>
        <a style="font-size: 1.5rem; color: #eeee" th:href="@{/}"><b>Back to home</b></a>
    </div>
</body>
</html>
