<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="ISO-8859-1" />
    <title>Title</title>
</head>

<div class="wrapper" th:fragment="html_nav">
    <nav>
        <a class="name" th:href="@{/}" style="text-transform: capitalize">HSE our health service</a>
        <ul>
<!--            <li sec:authorize="isAuthenticated()"><a sec:authentication="name">Username</a></li>-->
            <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Log in</a></li>
            <li><a href="#">Book Vaccination</a></li>
            <li><a th:href="@{/forum}">FAQs</a></li>
            <li><a style="cursor: pointer;" sec:authorize="isAuthenticated()" th:action="@{/logout}">Log Out</a></li>
        </ul>
    </nav>
</div>
<body>

</body>
<footer th:fragment="html_footer">
        <a class="navbar-brand" href="https://catluvrhass.github.io/Personal-website/">© 1.9.9.5</a>
</footer>

</html>