<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="ISO-8859-1" />
    <title>Title</title>
</head>

<div class="wrapper" th:fragment="html_nav">
    <nav>
        <h2>HSE our <strong>health</strong> service</h2>
        <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
        </ul>
    </nav>
</div>
<body>

</body>
<footer th:fragment="html_footer">
        <a class="navbar-brand" href="https://catluvrhass.github.io/Personal-website/">© 1.9.9.5</a>
</footer>

</html>