<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="ISO-8859-1" />
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;900&display=swap" rel="stylesheet">
</head>
<body>
<header class="hero">
    <img style="visibility: hidden; display: none" th:src="@{/images/vaccine-banner.png}" alt="" class="hero">

    <div class="container spacing">
        <h1 class="primary-title">Secure your vaccination with HSE's Best App</h1>
        <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <a a th:href="@{/users/}" class="btn">Log In or Register Now</a>
    </div>
</header>

<main>
    <section class="benefits">
        <div class="container">
            <h2 class="section-title">Benefits</h2>
            <div class="split">
                <a href="#" class="featured__item">
                    <img th:src="@{/images/mario.png}" alt="" class="featured-img"><span class="price">+</span>Check Your Health</p>
                </a>
                <a href="#" class="featured__item">
                    <img th:src="@{/images/vaccine.png}" alt="" class="featured-img">
                    <p class="featured__details"><span class="price">+</span>Book Your Vaccine</p>
                </a>
                <a href="#" class="featured__item">
                    <img th:src="@{/images/mario-fire-suit.png}" alt="" class="featured-img">
                    <p class="featured__details"><span class="price">=</span>Be Stronger & Ask Anything</p>
                </a>
            </div>
        </div>
    </section>
    <section class="social-proof">
        <div class="container">
            <h2 class="section-title">Our proofs</h2>

            <article class="proof">
                <div id="first"></div>
<!--                <img th:src="@{/images/stats-general.png}" alt="" class="product__image">-->
                <h3 class="proof__title"></h3>
                <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="" class="btn">Read more</a>
            </article>

            <article class="proof">
                <div id="second"></div>
<!--                <img th:src="@{/images/stats-sex.png}" alt="" class="product__image">-->
                <h3 class="proof__title"></h3>
                <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="" class="btn">Read more</a>
            </article>

            <article class="proof">
<!--                <img th:src="@{/images/stats-bytype.png}" alt="" class="product__image">-->
                <div id="third"></div>
                <h3 class="proof__title"></h3>
                <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="" class="btn">Read more</a>
            </article>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script th:inline="javascript">
        $(function(){
            Highcharts.chart('first', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Organization'
                },
                subtitle: {
                    text: 'Details'
                },
                xAxis: {
                    categories: [[${nation}]],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    max:100,
                    title: {
                        text: 'Count'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} K</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Nationalities',
                    data: [[${sex}]]
                }]
            });
            Highcharts.chart('second', {

                series: [{
                    data: [4, 3, 5, 6, 2, 3]
                }]
            });
            Highcharts.chart('third', {

                series: [{
                    data: [3, 3, 3, 3]
                }]
            });
        });
    </script>

</main>

</body>
</html>