<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forum</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <td>Post Title</td>
                    <td>Date Added</td>
                    <td>Reply Posted</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="post: ${forumPosts}">
    <!--                <td> <a th:href="@{forum/post/${post.post_id}}"> th:text="${post.post_title}"></a></td>-->

                    <td>
                        <a th:href="@{forum/post/{id}(id = ${post.post_id})}">
                        <span th:text="${post.post_title}"></span></a>
                    </td>
                    <td th:text="${post.post_date}"></td>

                    <!--If post has a reply then display yes, if not display no-->
                    <td>
                    <span th:if="${post.reply != null}" th:text="Yes">Yes</span>
                    <span th:if="${post.reply == null}" th:text="No">No</span>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>