<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forum</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link th:href="@{/css/style-other.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments :: nav"></div>

    <div class="container">
        <form th:action="@{forum/post}" method="post">

            <label for="user_id"></label>
            <input type="hidden" id="user_id" name="user_id" th:field="${user.user_id}"/>

            <label for="post_title"></label>

            <input class="form-control" type="text" id="post_title" name="post_title" placeholder="Post Title" required/>

            <label for="post_content"></label>
            <textarea class="form-control" id="post_content" name="post_content" maxlength="250" placeholder="Post Content" required></textarea>
            <input type="submit" value="Submit">

        </form>
    </div>
<section class="user--questions">
    <div class="container">
        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <td>Post Title</td>
                        <td>Date Added</td>
                        <td>Reply Posted</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="post: ${forumPosts}">
        <!--                <td> <a th:href="@{forum/post/${post.post_id}}"> th:text="${post.post_title}"></a></td>-->

                        <td>
                            <a th:href="@{forum/post/{id}(id = ${post.post_id})}">
                            <span th:text="${post.post_title}"></span></a>
                        </td>
                        <td th:text="${post.post_date}"></td>

                        <!--If post has a reply then display yes, if not display no-->
                        <td>
                        <span th:if="${post.reply != null}" th:text="Yes">Yes</span>
                        <span th:if="${post.reply == null}" th:text="No">No</span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>