<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Information</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="fragments :: nav"></div>
<div class="container text-center">
    <div>
        <p>
            Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
        </p>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <td>Info</td>
                <td>Status</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Email</td>
                <td th:text="${user.email}"></td>
            </tr>
            <tr>
                <td>First Dose Booked</td>
                <td>
                    <span th:if="${apt==null and user.dose1==null}">
                        Not Booked |
                        <a  th:href="@{/users/bookAppointment}"> Book Your Vaccine</a>
                    </span>

                    <span th:if="${apt!=null and user.dose1Date == null}" th:text="${apt.getDate()}">
                    </span>

                    <span th:if="${user.dose1Date!=null}" th:text="${user.dose1Date}">
                    </span>

                    <a  th:if="${apt!=null}" th:href="@{/users/confirmAppointmentCancellation}"> Cancel Your Appointment</a>

                </td>
            </tr>
            <tr>
                <td>First Dose Received</td>
                <td>
                    <span th:if="${user.dose1Date!=null}" th:text="${user.dose1}"></span>
                    <span th:if="${user.dose1Date==null}">Not Received</span>
                </td>
            </tr>
            <tr>
                <td>Second Dose Booked</td>
                <td>
                    <span th:if="${user.dose1Date==null}" >Not Booked</span>
                    <span th:if="${apt!=null and
                                   user.dose1Date != null and
                                   user.dose2Date==null}" th:text="${apt.getDate()}"></span>
                    <span th:if="${user.dose2Date!=null}" th:text="${user.dose2Date}"></span>
                </td>
            </tr>
            <tr>
                <td>Second Dose Received</td>
                <td>
                    <span th:if="${user.dose2Date!=null}" th:text="${user.dose2}"></span>
                    <span th:if="${user.dose2Date==null}" >Not Received</span>
                </td>
            </tr>
            <tr th:if="${user.dose1!=null and user.dose2!=null}">
                <td>Fully Vaccinated</td>
                <td>
                    Confirmed: Thank you for helping bring the end of this pandemic closer!
                     You will be informed when it is time for your booster.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>