<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!--<div class="container text-center">-->
<!--    <form th:action="@{/users/register_attempt}" th:object="${user}" method="post">-->
<!--        <input type="text" th:field="*{dob}" placeholder="dob"/>-->
<!--        <input type ="text" th:field="*{name} " placeholder="name">-->
<!--        <input type="text" th:field="*{surname}" placeholder="sur"/>-->
<!--        <input type ="text" th:field="*{ppsn}" placeholder="ppsn">-->
<!--        <input type="text" th:field="*{address}" placeholder="addr"/>-->
<!--        <input type ="text" th:field="*{phone}" placeholder="phone">-->
<!--        <input type="text" th:field="*{email}" placeholder="email"/>-->
<!--        <input type ="text" th:field="*{password}" placeholder="pass">-->
<!--        <div>-->
<!--            <button type="submit" class="btn btn-primary">Sign Up</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<div class="container text-center">
    <div>
        <h1>User Registration - Sign Up</h1>
        <h4><a th:href="@{/login}">Already Registered? Click here to Login</a></h4>
    </div>
    <form th:action="@{/users/register_attempt}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">DOB: </label>
                <div class="col-8">
                    <input id="birthday" max="2022-01-01" min="1900-01-01'"  type="date" th:field="*{dob}" class="form-control" th:required="required" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">First Name: </label>
                <div class="col-8">
                    <input type="text" value="John" th:field="*{name}" class="form-control" th:required="required" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Surname: </label>
                <div class="col-8">
                    <input type="text" value="Smith" th:field="*{surname}" class="form-control" th:required="required" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">PPSN: </label>
                <div class="col-8">
                    <input type="text" value="1234567IU" th:field="*{ppsn}" class="form-control" th:required="required" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Address: </label>
                <div class="col-8">
                    <input type="text" value="Here and There" th:field="*{address}" class="form-control" th:required="required" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Phone Number: </label>
                <div class="col-8">
                    <input type="text" value="0819908877" th:field="*{phone}" class="form-control"  />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Nationality: </label>
                <div class="col-8">
                    <input type="text" th:field="*{nationality}" class="form-control" th:required="required" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Sex: </label>
                <div class="col-8">
                    <input type="text" th:field="*{sex}" class="form-control" th:required="required" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" value="1@2.com" th:field="*{email}" class="form-control" th:required="required" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" value="password" th:field="*{password}" class="form-control"
                           required minlength="6" maxlength="10" th:required="required"/>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
</div>
</body>
<script>
    var today = new Date();
    var yyyy = today.getFullYear();
    var mm = today.getMonth() + 1; // Add one to compensate for months starting at 0
    var dd = today.getDate(); // Returns day of month, no leading 0

    if (mm < 10) {
        mm = '0' + mm;
    }

    if (dd < 10) {
        dd = '0' + dd;
    }

    ageLimit = yyyy -18;
    newMax = ageLimit + '-' + mm + '-' + dd;
    document.getElementById("birthday").setAttribute("max", newMax);

</script>
</html>