<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link th:href="@{/css/style-other.css}" rel="stylesheet" />
</head>
<body>
<!--<div class="container text-center">-->
<!--    <form th:action="@{/users/register_attempt}" th:object="${user}" method="post">-->
<!--        <input type="text" th:field="*{dob}" placeholder="dob"/>-->
<!--        <input type ="text" th:field="*{name} " placeholder="name">-->
<!--        <input type="text" th:field="*{surname}" placeholder="sur"/>-->
<!--        <input type ="text" th:field="*{ppsn}" placeholder="ppsn">-->
<!--        <input type="text" th:field="*{address}" placeholder="addr"/>-->
<!--        <input type ="text" th:field="*{phone}" placeholder="phone">-->
<!--        <input type="text" th:field="*{email}" placeholder="email"/>-->
<!--        <input type ="text" th:field="*{password}" placeholder="pass">-->
<!--        <div>-->
<!--            <button type="submit" class="btn btn-primary">Sign Up</button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<div class="container">
    <div id="wrapper">
        <h1>Welcome</h1>
    </div>
    <div class="text-center">
        <h2>
            <span th:unless="${errorMessage== null}" th:text="${errorMessage}"></span>
        </h2>
    </div>
    <form th:action="@{/users/register_attempt}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">DOB: </label>
                <div class="col-8">
                    <input placeholder="2001-01-01" id="birthday" max="2022-01-01" min="1900-01-01'"  type="date" th:field="*{dob}" class="form-control" th:required="required" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">First Name: </label>
                <div class="col-8">
                    <input placeholder="John" type="text" value="John" th:field="*{name}" class="form-control" th:required="required" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Surname: </label>
                <div class="col-8">
                    <input type="text" placeholder="Doe" value="Smith" th:field="*{surname}" class="form-control" th:required="required" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">PPSN: </label>
                <div class="col-8">

                    <input type="text" placeholder="1505044K" value="1234567IU" th:field="*{ppsn}" class="form-control" th:required="required" />

                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Address: </label>
                <div class="col-8">

                    <input type="text" placeholder="42 Dream Street" value="Here and There" th:field="*{address}" class="form-control" th:required="required" />

                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Phone Number: </label>
                <div class="col-8">

                    <input type="text" placeholder="012 234 5678" value="0819908877" th:field="*{phone}" class="form-control"  />

                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Nationality: </label>
                <div class="col-8">
                    <select placeholder="Earthling" th:field="*{nationality}" class="form-control" th:required="required" name="nationality">
                        <option selected="selected" value="irish">Irish</option>
                        <option value="afghan">Afghan</option>
                        <option value="albanian">Albanian</option>
                        <option value="algerian">Algerian</option>
                        <option value="american">American</option>
                        <option value="andorran">Andorran</option>
                        <option value="angolan">Angolan</option>
                        <option value="antiguans">Antiguans</option>
                        <option value="argentinean">Argentinean</option>
                        <option value="armenian">Armenian</option>
                        <option value="australian">Australian</option>
                        <option value="austrian">Austrian</option>
                        <option value="azerbaijani">Azerbaijani</option>
                        <option value="bahamian">Bahamian</option>
                        <option value="bahraini">Bahraini</option>
                        <option value="bangladeshi">Bangladeshi</option>
                        <option value="barbadian">Barbadian</option>
                        <option value="barbudans">Barbudans</option>
                        <option value="batswana">Batswana</option>
                        <option value="belarusian">Belarusian</option>
                        <option value="belgian">Belgian</option>
                        <option value="belizean">Belizean</option>
                        <option value="beninese">Beninese</option>
                        <option value="bhutanese">Bhutanese</option>
                        <option value="bolivian">Bolivian</option>
                        <option value="bosnian">Bosnian</option>
                        <option value="brazilian">Brazilian</option>
                        <option value="british">British</option>
                        <option value="bruneian">Bruneian</option>
                        <option value="bulgarian">Bulgarian</option>
                        <option value="burkinabe">Burkinabe</option>
                        <option value="burmese">Burmese</option>
                        <option value="burundian">Burundian</option>
                        <option value="cambodian">Cambodian</option>
                        <option value="cameroonian">Cameroonian</option>
                        <option value="canadian">Canadian</option>
                        <option value="cape verdean">Cape Verdean</option>
                        <option value="central african">Central African</option>
                        <option value="chadian">Chadian</option>
                        <option value="chilean">Chilean</option>
                        <option value="chinese">Chinese</option>
                        <option value="colombian">Colombian</option>
                        <option value="comoran">Comoran</option>
                        <option value="congolese">Congolese</option>
                        <option value="costa rican">Costa Rican</option>
                        <option value="croatian">Croatian</option>
                        <option value="cuban">Cuban</option>
                        <option value="cypriot">Cypriot</option>
                        <option value="czech">Czech</option>
                        <option value="danish">Danish</option>
                        <option value="djibouti">Djibouti</option>
                        <option value="dominican">Dominican</option>
                        <option value="dutch">Dutch</option>
                        <option value="east timorese">East Timorese</option>
                        <option value="ecuadorean">Ecuadorean</option>
                        <option value="egyptian">Egyptian</option>
                        <option value="emirian">Emirian</option>
                        <option value="english">English</option>
                        <option value="equatorial guinean">Equatorial Guinean</option>
                        <option value="eritrean">Eritrean</option>
                        <option value="estonian">Estonian</option>
                        <option value="ethiopian">Ethiopian</option>
                        <option value="fijian">Fijian</option>
                        <option value="filipino">Filipino</option>
                        <option value="finnish">Finnish</option>
                        <option value="french">French</option>
                        <option value="gabonese">Gabonese</option>
                        <option value="gambian">Gambian</option>
                        <option value="georgian">Georgian</option>
                        <option value="german">German</option>
                        <option value="ghanaian">Ghanaian</option>
                        <option value="greek">Greek</option>
                        <option value="grenadian">Grenadian</option>
                        <option value="guatemalan">Guatemalan</option>
                        <option value="guinea-bissauan">Guinea-Bissauan</option>
                        <option value="guinean">Guinean</option>
                        <option value="guyanese">Guyanese</option>
                        <option value="haitian">Haitian</option>
                        <option value="herzegovinian">Herzegovinian</option>
                        <option value="honduran">Honduran</option>
                        <option value="hungarian">Hungarian</option>
                        <option value="icelander">Icelander</option>
                        <option value="indian">Indian</option>
                        <option value="indonesian">Indonesian</option>
                        <option value="iranian">Iranian</option>
                        <option value="iraqi">Iraqi</option>
                        <option value="israeli">Israeli</option>
                        <option value="italian">Italian</option>
                        <option value="ivorian">Ivorian</option>
                        <option value="jamaican">Jamaican</option>
                        <option value="japanese">Japanese</option>
                        <option value="jordanian">Jordanian</option>
                        <option value="kazakhstani">Kazakhstani</option>
                        <option value="kenyan">Kenyan</option>
                        <option value="kittian and nevisian">Kittian and Nevisian</option>
                        <option value="kuwaiti">Kuwaiti</option>
                        <option value="kyrgyz">Kyrgyz</option>
                        <option value="laotian">Laotian</option>
                        <option value="latvian">Latvian</option>
                        <option value="lebanese">Lebanese</option>
                        <option value="liberian">Liberian</option>
                        <option value="libyan">Libyan</option>
                        <option value="liechtensteiner">Liechtensteiner</option>
                        <option value="lithuanian">Lithuanian</option>
                        <option value="luxembourger">Luxembourger</option>
                        <option value="macedonian">Macedonian</option>
                        <option value="malagasy">Malagasy</option>
                        <option value="malawian">Malawian</option>
                        <option value="malaysian">Malaysian</option>
                        <option value="maldivan">Maldivan</option>
                        <option value="malian">Malian</option>
                        <option value="maltese">Maltese</option>
                        <option value="marshallese">Marshallese</option>
                        <option value="mauritanian">Mauritanian</option>
                        <option value="mauritian">Mauritian</option>
                        <option value="mexican">Mexican</option>
                        <option value="micronesian">Micronesian</option>
                        <option value="moldovan">Moldovan</option>
                        <option value="monacan">Monacan</option>
                        <option value="mongolian">Mongolian</option>
                        <option value="moroccan">Moroccan</option>
                        <option value="mosotho">Mosotho</option>
                        <option value="motswana">Motswana</option>
                        <option value="mozambican">Mozambican</option>
                        <option value="namibian">Namibian</option>
                        <option value="nauruan">Nauruan</option>
                        <option value="nepalese">Nepalese</option>
                        <option value="new zealander">New Zealander</option>
                        <option value="ni-vanuatu">Ni-Vanuatu</option>
                        <option value="nicaraguan">Nicaraguan</option>
                        <option value="nigerien">Nigerien</option>
                        <option value="north korean">North Korean</option>
                        <option value="northern irish">Northern Irish</option>
                        <option value="norwegian">Norwegian</option>
                        <option value="omani">Omani</option>
                        <option value="pakistani">Pakistani</option>
                        <option value="palauan">Palauan</option>
                        <option value="panamanian">Panamanian</option>
                        <option value="papua new guinean">Papua New Guinean</option>
                        <option value="paraguayan">Paraguayan</option>
                        <option value="peruvian">Peruvian</option>
                        <option value="polish">Polish</option>
                        <option value="portuguese">Portuguese</option>
                        <option value="qatari">Qatari</option>
                        <option value="romanian">Romanian</option>
                        <option value="russian">Russian</option>
                        <option value="rwandan">Rwandan</option>
                        <option value="saint lucian">Saint Lucian</option>
                        <option value="salvadoran">Salvadoran</option>
                        <option value="samoan">Samoan</option>
                        <option value="san marinese">San Marinese</option>
                        <option value="sao tomean">Sao Tomean</option>
                        <option value="saudi">Saudi</option>
                        <option value="scottish">Scottish</option>
                        <option value="senegalese">Senegalese</option>
                        <option value="serbian">Serbian</option>
                        <option value="seychellois">Seychellois</option>
                        <option value="sierra leonean">Sierra Leonean</option>
                        <option value="singaporean">Singaporean</option>
                        <option value="slovakian">Slovakian</option>
                        <option value="slovenian">Slovenian</option>
                        <option value="solomon islander">Solomon Islander</option>
                        <option value="somali">Somali</option>
                        <option value="south african">South African</option>
                        <option value="south korean">South Korean</option>
                        <option value="spanish">Spanish</option>
                        <option value="sri lankan">Sri Lankan</option>
                        <option value="sudanese">Sudanese</option>
                        <option value="surinamer">Surinamer</option>
                        <option value="swazi">Swazi</option>
                        <option value="swedish">Swedish</option>
                        <option value="swiss">Swiss</option>
                        <option value="syrian">Syrian</option>
                        <option value="taiwanese">Taiwanese</option>
                        <option value="tajik">Tajik</option>
                        <option value="tanzanian">Tanzanian</option>
                        <option value="thai">Thai</option>
                        <option value="togolese">Togolese</option>
                        <option value="tongan">Tongan</option>
                        <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                        <option value="tunisian">Tunisian</option>
                        <option value="turkish">Turkish</option>
                        <option value="tuvaluan">Tuvaluan</option>
                        <option value="ugandan">Ugandan</option>
                        <option value="ukrainian">Ukrainian</option>
                        <option value="uruguayan">Uruguayan</option>
                        <option value="uzbekistani">Uzbekistani</option>
                        <option value="venezuelan">Venezuelan</option>
                        <option value="vietnamese">Vietnamese</option>
                        <option value="welsh">Welsh</option>
                        <option value="yemenite">Yemenite</option>
                        <option value="zambian">Zambian</option>
                        <option value="zimbabwean">Zimbabwean</option>
                    </select>
                  
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Sex: </label>
                <div class="col-8">

                    <select placeholder="Androgynous" th:field="*{sex}" class="form-control" th:required="required" name="sex">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">

                    <input type="email" placeholder="1234@cutiepie.ie" value="1@2.com" th:field="*{email}" class="form-control" th:required="required" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" id="password" placeholder="big-password" value="password" th:field="*{password}" class="form-control"
                            th:required="required"/>
                </div>

            </div>
            <div>
                <button type="submit" class="btn">Sign Up</button>

                <a th:href="@{/login}" style="margin-left: 1.2rem;">Log In?</a>
            </div>
        </div>
    </form>

</div>
</body>

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="../jQuery-Plugin-For-Password-Strength-Checker-and-Indicator-Password-Strength/password_strength/password_strength_lightweight.js"></script>
<link rel="stylesheet" href="../jQuery-Plugin-For-Password-Strength-Checker-and-Indicator-Password-Strength/password_strength/password_strength.css">

<script>

    var today = new Date();
    var yyyy = today.getFullYear();
    var mm = today.getMonth() + 1; // Add one to compensate for months starting at 0
    var dd = today.getDate(); // Returns day of month, no leading 0

    if (mm < 10) {
        mm = '0' + mm;
    }

    if (dd < 10) {
        dd = '0' + dd;
    }

    ageLimit = yyyy - 18;
    newMax = ageLimit + '-' + mm + '-' + dd;
    document.getElementById("birthday").setAttribute("max", newMax);

</script>


</html>