<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.post_title}">test</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div id="post_page_container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title" th:text="${post.post_title}"></h3>
            <p class="card-text" th:text="${post.post_content}"></p>
        </div>

        <div th:if="${reply != null}" class="card-body">
            <h3 class="card-title" >Reply Posted <span th:text="${reply.reply_date}"></span></h3>
            <p class="card-text" th:text="${reply.reply_content}"></p>
        </div>


    </div>
</div>
</body>
</html>